.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@include media('>tablet') {
  h1, .h1 {
    font-size: 72px;
  }

  h2, .h2 {
    font-size: 36px;
  }

  h3, .h3 {
    font-size: 24px;
  }
}

.title-decoration {
  position: relative;

  span:before,
  &:after,
  &:before {
    @include size(80px, 1px);

    position: absolute;
    content: '';
    left: 50%;
    bottom: -20px;
    display: inline-block;
    background: $white;

    @include media('>=tablet') {
      bottom: -36px;
    }
  }

  &:before {
    transform: translate(-97px, 0);
  }

  &:after {
    transform: translate(19px, 0);
  }

  span:before {
    @include size(7px);

    transform: translate(-3px, 2px);
    border-radius: 50%;
    background: $orange;
  }
}

.title-underline-decoration {
  position: relative;

  &:before {
    @include size(41px, 2px);

    position: absolute;
    content: '';
    left: 50%;
    bottom: -18px;
    transform: translate(-50%, 0);
    display: inline-block;
    background: $dove-gray;
  }
}

.title-topline-decoration {
  position: relative;

  &:before {
    @include size(44px, 4px);

    position: absolute;
    content: '';
    left: 0;
    top: -27px;
    display: inline-block;
    background: $white;
  }
}

.title-left-line-decoration {
  display: inline-block;
  position: relative;
  padding-left: 34px;

  &:before {
    @include size(6px, 36px);

    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    background: $orange;
  }
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba($black, .3);
}

.carousel {
  position: relative;

  .mask {
    @include animate(height width);

    position: relative;
    overflow: hidden;
    margin: 0 auto;
  }

  .slideset {
    @include animate(margin);
    @extend %listreset;

    width: 100%;
    float: left;
    letter-spacing: -4px;
    white-space: nowrap;
  }

  .slide {
    display: inline-block;
    vertical-align: top;
    float: none;
    white-space: normal;
    letter-spacing: 0;
  }

  .btn-prev,
  .btn-next {
    @include animate(background-color);
    @include size(30px);

    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -88px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $orange;
    border-radius: 3px;
    text-decoration: none;

    &:hover {
      background-color: lighten($orange, 10%);
    }

    @include media('>=tablet') {
      @include size(45px);

      left: 41px;
    }

    i:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 15px;

      @include media('>=tablet') {
        font-size: 22px;
      }
    }
  }

  .btn-next {
    left: auto;
    right: 15px;

    @include media('>=tablet') {
      left: auto;
      right: 41px;
    }
  }

  .pagination {

    ul {
      @extend %listreset;

      display: flex;
      justify-content: center;
    }

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &.active a {
        background: $orange;
      }
    }

    a {
      @include size(20px);

      display: block;
      font-size: 0;
      background: rgba($gray, .25);
    }
  }
}

.btn {
  @include animate(background-color border-color);

  display: inline-block;
  vertical-align: middle;
  min-width: 225px;
  padding: $btn-padding;
  font-weight: 700;
  font-size: $btn-font-size;
  color: $btn-color;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $btn-background;
  border-radius: 3px;
  box-shadow: 0 2px 5px 1px rgba($black, .25);

  &:hover {
    background-color: lighten($btn-background, 10%);
    border-color: lighten($btn-background, 10%);
  }
}

.btn-01 {
  padding: 1.33em 1.7em;
  background: transparent;
  border: 1px solid $white;

  &:hover {
    background-color: $btn-background;
    border-color: $btn-background;
  }
}

//sections

.feature-section {
  padding: 60px 0 40px;
  border-bottom: 1px solid darken(desaturate($light-gray, 18.30), 5.49);

  @include media('>=tablet') {
    padding: 90px 0 70px;
  }

  @include media('>=desktop') {
    padding: 123px 0 108px;
  }

  .feature-list {
    @extend %listreset;

    text-align: center;

    @include media('>=phone') {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @include media('>=tablet') {
      justify-content: space-between;
    }

    .col {
      margin-bottom: 35px;
      padding: 0 20px;
      font-family: $font-open-sans;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .img-holder {
          &:before {
            transform: rotate(-45deg);
            border-color: $orange;
          }

          i:before {
            color: $orange;
          }
        }

        h4 {
          color: $orange;
        }
      }

      @include media('>=phone') {
        width: 50%;
        max-width: 260px;
      }

      @include media('>=tablet') {
        width: calc(25% - 20px);
        margin-bottom: 0;
        padding: 0;
      }
    }

    .img-holder {
      @include size(73px);

      position: relative;
      display: inline-block;
      margin-bottom: 24px;

      &:before {
        @include animate(transform border-color);
        @include size(73px);

        position: absolute;
        content: '';
        left: 0;
        top: 0;
        display: block;
        border: 1px solid rgba($gray, .25);
        border-radius: 3px;
      }

      i:before {
        @include animate(color);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 26px;
      }
    }

    h4 {
      @include animate(color);

      margin-bottom: 30px;
      font-family: $font-open-sans;
      letter-spacing: 1.35px;
    }

    .text-holder {
      font-size: 12px;
      line-height: 1.65;

      p {
        margin: 0;
      }
    }
  }
}

.about-section {
  padding: 40px 0;

  @include media('>=tablet') {
    padding: 90px 0;
  }

  @include media('>=desktop') {
    padding: 137px 0 147px;
  }

  .about-content {
    text-align: center;

    @include media('>=tablet') {
      text-align: left;
    }
  }

  .about-holder {
    @include media('>=tablet') {
      display: flex;

      .col {
        width: 50%;
      }
    }

    .img-holder {
      margin-bottom: 30px;
      text-align: center;

      @include media('>=tablet') {
        margin: 0;
        padding: 4px 30px 0 0;
        text-align: left;
      }
    }

    h2 {
      margin-bottom: 25px;

      @include media('>=tablet') {
        margin-bottom: 37px;
      }
    }

    .text-holder {
      padding-bottom: 12px;
      font-size: 14px;
      line-height: 2.08;
    }

    .btn {
      margin: 0 auto;

      @include media('>=tablet') {
        margin: 0;
      }
    }
  }
}

.services-section {
  background-color: $dark-gray;
}

.services-holder {
  text-align: right;

  @include media('>=tablet') {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  h2 {
    margin-bottom: 38px;
    color: $white;

    @include media('>=tablet') {
      margin-bottom: 65px;
      margin-right: 46px;
    }

    @include media('>=desktop') {
      margin-right: 83px;
    }
  }

  .title-left-line-decoration {
    padding-left: 0;
    padding-right: 34px;

    &:before {
      left: auto;
      right: 0;
    }
  }

  .image-holder {

    @include media('>=tablet') {
      max-width: 46%;
    }
  }

  .services-content {
    padding: 40px 20px;

    @include media('>=tablet') {
      width: 54%;
      padding: 0;
    }
  }

  .services-carousel {
    @include media('>=tablet') {
      right: -30px;
    }

    @include media('>=desktop') {
      right: -35px;
    }
  }
}

.services-carousel {

  .slide {
    position: relative;
    display: block;
    max-width: 800px;
    margin: 0 0 0 auto;
    padding-left: 20px;

    @include media('>=tablet') {
      padding-right: 80px;
    }

    @include media('>=desktop') {
      padding-right: 117px;
    }
  }

  h4 {
    margin-bottom: 6px;
    color: $orange;
    font-weight: 500;
    font-family: $font-open-sans;
  }

  .text-holder {
    line-height: 1.85;

    p {
      margin: 0;
    }
  }

  .ico-holder {
    @include size(60px);

    position: absolute;
    display: none;
    top: 50%;
    right: 0;
    padding: 5px;
    transform: translate(0, -50%);
    background: rgba($white, .25);
    border-radius: 50%;

    @include media('>=tablet') {
      display: block;
    }

    @include media('>=desktop') {
      @include size(73px);
    }

    i{
      display: block;
      width: 100%;
      height: 100%;
      background: $white;
      border-radius: 50%;

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 27px;
        color: $orange;
        background: $white;
      }
    }
  }

  .pagination {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    ul {
      flex-direction: column;
    }

    li {
      margin-right: 0;
      margin-bottom: 11px;

      &:last-child {
        margin-bottom: 0;
      }

      &.active a {
        background: transparent;

        &:before {
          background: $orange;
        }
      }

      a {
        @include size(20px, 25px);

        position: relative;
        display: block;
        font-size: 0;
        background: transparent;

        @include media('>=tablet') {
          height: 34px;
        }

        &:before {
          position: absolute;
          content: '';
          display: block;
          left: 50%;
          transform: translate(0, -50%);
          width: 2px;
          height: 100%;
          background: rgba($gray, .25);
        }
      }
    }
  }
}

.portfolio-section {
  padding: 40px 0 0;
  text-align: center;

  @include media('>=tablet') {
    padding-top: 80px;
  }

  @include media('>=desktop') {
    padding-top: 130px;
  }

  h2 {
    margin-bottom: 15px;
  }

  .title-decoration {
    display: inline-block;
    margin-bottom: 50px;

    @include media('>=tablet') {
      margin-bottom: 98px;

      span:before,
      &:before,
      &:after {
        bottom: -33px;
      }
    }

    &:before,
    &:after {
      background-color: $gray;
    }
  }
}

.portfolio {
  .portfolio-nav {
    @extend %listreset;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
    font-family: $font-open-sans;
    font-size: 14px;

    @include media('>=tablet') {
      margin-bottom: 48px;
    }

    li {
      position: relative;
      padding: 0 20px;
      line-height: 1.7;

      &.active {
        color: $orange;

        a {
          text-shadow: 0 1px $orange;
        }
      }

      @include media('>=tablet') {
        &:after {
          @include size(1px, 12px);

          position: absolute;
          content: '';
          top: 50%;
          right: 0;
          transform: translate(0, -50%) rotate(20deg);
          background: $gray;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }

      a {
        @include animate(color  text-shadow);

        text-decoration: none;

        &:hover {
          color: lighten($orange, 20%);
        }
      }
    }
  }

  .portfolio-list {
    @extend %listreset;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      display: none;
      position: relative;
      width: 100%;

      &.show {
        display: block;
      }

      @include media('>=phone') {
        width: 50%;
        max-width: 480px;
      }

      @include media('>=widescreen') {
        width: 25%;
      }

      &:hover {
        .text-content {
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
        }
      }
    }

    .text-content {
      @include animate(all);

      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 0;
      width: 0;
      opacity: 0;
      top: 50%;
      left: 50%;
      padding: 35px;
      color: $white;
      text-align: left;
      background: rgba($orange, .8);

      @include media('>=widescreen') {
        padding: 46px 50px;
      }

      h3 {
        font-size: 24px;
        font-weight: 400;
        color: $white;
      }
    }
  }
}

.case-section {
  padding: 40px 0;
  text-align: center;
  background-color: $light-gray;

  @include media('>=tablet') {
    padding: 80px 0;
  }

  @include media('>=desktop') {
    padding: 140px 0 150px;
  }

  h2 {
    margin-bottom: 15px;
  }

  .heading {
    text-align: center;
  }

  .title-decoration {
    display: inline-block;
    margin-bottom: 50px;

    @include media('>=tablet') {
      margin-bottom: 102px;

      span:before,
      &:before,
      &:after {
        bottom: -33px;
      }
    }

    &:before,
    &:after {
      background-color: $gray;
    }
  }

  .img-holder {
    @include media('>=tablet') {
      width: 50%;
    }
  }
}

.case-carousel-holder {
  flex: 1;
  max-width: 585px;
  margin: 0 auto;

  @include media('>=tablet') {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: none;
  }

  .case-carousel {
    position: relative;
    z-index: 1;
    padding: 20px 0 30px;
    background: $white;

    @include media('>=tablet') {
      max-width: calc(50% + 40px);
      margin-right: -40px;
    }

    @include media('>=desktop') {
      max-width: calc(50% + 80px);
      margin-right: -80px;
      padding: 45px 0 40px;
    }

    @include media('>=widescreen') {
      padding: 78px 0 50px;
    }
  }

  .slide {
    padding: 0 20px 30px;

    @include media('>=desktop') {
      padding: 0 40px 40px;
    }

    @include media('>=widescreen') {
      padding: 0 61px 52px;
    }
  }

  .ico-holder {
    display: inline-block;
    margin: 20px auto 30px;

    @include media('>=tablet') {
      margin-bottom: 40px;
    }

    @include media('>=desktop') {
      margin-bottom: 64px;
    }

    i {
      @include size(60px);

      display: block;
      background-color: $orange;
      transform: rotate(45deg);

      @include media('>=desktop') {
        @include size(91px);
      }

      &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        font-size: 35px;
        color: $white;

        @include media('>=desktop') {
          font-size: 40px;
        }
      }
    }
  }

  h4 {
    margin-bottom: 47px;
    font-family: $font-open-sans;
    font-weight: 600;
  }

  .title-underline-decoration:before {
    bottom: -28px;
  }

  .text-holder {
    margin-bottom: 25px;
    line-height: 1.51;

    @include media('>=tablet') {
      margin-bottom: 44px;
    }

    p {
      margin: 0;
    }
  }

  .btn {
    width: auto;
    font-size: 12px;
    min-width: 145px;
  }

  .img-list {
    @extend %listreset;

    display: block;
  }

  .pagination {
    a {
      @include size(12px);

      border-radius: 50%;
    }
  }
}